Redirect 301 /job-box https://620fab.com/job-site-boxes.html
Redirect 301 /farm-box https://620fab.com/farms.html
Redirect 301 /about-us https://620fab.com/about.html
Redirect 301 /select https://620fab.com/homes.html
